{% extends ':Main:main.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}"/>

{% endblock %}

{% block content %}
    <div class="row">
		<form  method="post" class="form-inline" role="form" id="searchform">
			<div class="form-group">
				<label for="petfamily">Pet Type:</label>
				<select id="petfamily" name="petfamily">
					<option disabled selected> -- select an option -- </option>
					<option value="barnyard">Barnyard</option>
					<option value="bird">Bird</option>
					<option value="cat">Cat</option>
					<option value="dog">Dog</option>
					<option value="horse">Horse</option>
					<option value="pig">Pig</option>
					<option value="reptile">Reptile</option>
					<option value="smallfurry">Smallfurry</option>
				</select>
			</div>
			&nbsp;
			<div class="form-group">
				<label for="petbreed">Pet Breed:</label>
				<select id="petbreed" name="petbreed">
					<option disabled selected> -- select an option -- </option>
				</select>
			</div>
			&nbsp;
			<div class="form-group">
				<label for="petbirth">Birth From </label>
				<input type="text" id="petbirth" class="form-control" name="petbirth">
			</div>
			&nbsp;
			<div class="form-group">
				<label for="petbirth2">To</label>
				<input type="text" id="petbirth2" class="form-control" name="petbirth2">
			</div>
			&nbsp;
		</form>
	</div>

	<div class="row" id="listagem"></div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('js/petbreedajax.js') }}"></script>
	{% block petlist %}<script src="{{ asset('js/petList.js') }}"></script> {% endblock %}
{% endblock %}