 <ul class="list-group">
                    {% for pet in pets %}
                        <a href="{{ path('pet',{'petid': pet.idPet}) }}" class="list-group-item">
                            <h4 class="list-group-item-heading"> {{ pet.breed }} - {{ pet.type }}  </h4>
                            <p class="list-group-item-text">
                                {% if pet.gender == 'M' %}
                                    Male -
                                {% else %}
                                    Female -
                                {% endif %}
                                Born {{ pet.birth|date('Y-m-d')  }}</p>
                        </a>
                    {% endfor %}
                </ul>

