<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Happy Tails - Adoption Platform {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('custom_css/footer.css') }}" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('hippo.ico') }}" />
    </head>
    <body>
        {% block menu %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage') }}">HappyTails</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% if signed == true %}
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pet &nbsp; <span class="glyphicon glyphicon-piggy-bank"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li> <a href="{{ path('pet_regist') }}">Add a Pet<span class="sr-only">(current)</span></a></li>
                                    <li><a href="{{ path('mypets') }}">My Pets</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('petlist') }}">Search Pet &nbsp; <span class="glyphicon glyphicon-search"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Request &nbsp;<span class="glyphicon glyphicon-list-alt"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li> <a href="{{ path('request_add') }}">Add Request<span class="sr-only">(current)</span></a></li>
                                    <li><a href="{{ path('request_view') }}">View Requests</a></li>
                                </ul>
                            </li>

                        </ul>
                        {% endif %}

                        <ul class="nav navbar-nav navbar-right">
                            {% if signed == false %}

                            <!--  LOGIN DROPDOWN-->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in&nbsp; <span class="glyphicon glyphicon-log-in"></span></a>
                                        <div class="dropdown-menu" style="padding:30px; width: 300px">
                                            <form class="form form-horizontal" id="formLogin" method="post" action=" {{ path('login_check') }}">
                                                <!-- EMAIL Dropdown-->
                                                <div class="form-group">
                                                    <label for="petfinder_email_dropdown" class="control-label">Email:</label>
                                                    <div >
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-envelope"></span>
                                                            </div>
                                                            <input type="text" class="form-control" name="petfinder_email_dropdown" id="petfinder_email_dropdown" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- PASSWORD DROPDOWN -->
                                                <div class="form-group">
                                                    <label for="petfinder_password_dropdown" class="control-label">Password:</label>
                                                    <div >
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-lock"></span>
                                                            </div>
                                                            <input type="password" class="form-control" name="petfinder_password_dropdown" id="petfinder_password_dropdown" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" id="btnLogin" class="btn btn-success">Login</button>

                                            </form>
                                        </div>
                            </li>
                            <!-- REGISTER -->
                            <li><a href=" {{ path('register') }}">Register &nbsp; <span class="glyphicon glyphicon-registration-mark"></span></a></li>
                           {% else %}

                               <li><a href="{{ path('logout_out') }}">Sign out &nbsp;<span class="glyphicon glyphicon-log-out"></span></a></li>

                            {% endif %}

                        </ul>



                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6">Welcome to Happy Tails</div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}" ></script>
            <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
    <footer class="footer">
        <div class="container">
            <div class="row col-md-12">
                <br>
                <p class="text-muted" >Happy Tails <span style="float: right">ACR - 2015</span></p>
            </div>
        </div>
    </footer>
</html>
