{% extends 'requestadd.html.twig' %}
{% block Legend %} Select the options Below {% endblock %}
{% block requestType %}{% endblock %}
{% block JSAJAX %}
    <script src="{{ asset('js/requestview.js') }}"></script>
{% endblock %}