 <ul class="list-group">


     {% for pet in petrequests %}
         <button type="button" class="contact list-group-item" data-toggle="tooltip"
                 data-placement="top" title="Click to contact!" value="{{ pet.id }}">
                 {{ pet.breed }} - {{ pet.type }}- Requested: {{ pet.requestdate|date('Y-m-d')  }}

         </button>
     {% endfor %}

</ul>

