{% extends ':List:list.html.twig' %}

{% block content %}
    <div class="row">
		<fieldset><legend>{% block Legend %}Request - Insert Data{% endblock %}</legend></fieldset>

		<form  method="post" class="form-inline" role="form" id="requestform">
			<div class="form-group">
				<label for="petfamily">Pet Type:</label>
				<select id="petfamily" name="petfamily">
					<option disabled selected> -- select an option -- </option>
					<option value="barnyard">Barnyard</option>
					<option value="bird">Bird</option>
					<option value="cat">Cat</option>
					<option value="dog">Dog</option>
					<option value="horse">Horse</option>
					<option value="pig">Pig</option>
					<option value="reptile">Reptile</option>
					<option value="smallfurry">Smallfurry</option>
				</select>
			</div>
			<div class="form-group">
				<label for="petbreed">Pet Breed:</label>
				<select id="petbreed" name="petbreed">
					<option disabled selected> -- select an option -- </option>
				</select>
			</div>
			{% block requestType %}
			<div class="form-group">
				<button class="btn btn-success" id="makerequest">Make Request </button>
				{% endblock %}
			</div>
		</form>
		<div class="row" id="listagem"></div>

	</div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bower_components/bootbox.js/bootbox.js') }}"></script>
	{% block JSAJAX %}
		<script src="{{ asset('js/request.js') }}"></script>
	{% endblock %}
{% endblock %}
{% block petlist %}{% endblock %}
