{% extends ':Main:main.html.twig' %}

{% block body %}
    <div id="conteudo">
        <div class="container">
            {% block content %}
                {{ include('List/PetListing.html.twig') }}
            {% endblock %}
        </div>
</div>
{% endblock %}
