{% extends ':Main:main.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bower_components/blueimp-gallery/css/blueimp-gallery.min.css') }}" />
{% endblock %}

{% block body %}
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>

        <ol class="indicator"></ol>
    </div>
   {{  parent() }}
{% endblock %}

{% block content %}
    <div class="row">
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Pet Information
            {% if pet.petowner == currentuser  %}
                <a href="{{ path('edit_pet',{ 'petid' : pet.idPet} ) }}" style="float: right" >Edit</a>
            {% endif %}
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="Pet Type" src="
            {% if pet.type == 'dog' %}
                {{asset('Images/dog.png') }}
            {% elseif pet.type=='cat'%}
                {{asset('Images/cat.png') }}
            {% elseif pet.type=='bird'%}
                {{asset('Images/bird.png') }}
            {% elseif pet.type=='barnyard'%}
                {{asset('Images/rooster-512.png') }}
            {% elseif pet.type=='horse'%}
                {{asset('Images/horse.png') }}
            {% elseif pet.type=='pig'%}
                {{asset('Images/pig.png') }}
            {% elseif pet.type=='reptile'%}
                {{asset('Images/reptile.png') }}
            {% elseif pet.type=='smallfurry' %}
                {{asset('Images/smallfury.png') }}
            {% endif %}" class="img-circle img-responsive"> </div>
            <div class=" col-md-9 col-lg-9 ">

                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td><span class="glyphicon glyphicon-triangle-right">&nbsp;</span>Family:</td>
                        <td>{{ pet.type|capitalize }}</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-triangle-right">&nbsp;</span>Breed:</td>
                        <td>{{ pet.breed }}</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-calendar">&nbsp;</span>Date of Birth:</td>
                        <td>{{ pet.birth|date('Y-m-d')  }}</td>
                    </tr>


                    <tr>
                        <td><span class="glyphicon glyphicon-heart-empty">&nbsp;</span>Gender:</td>
                        <td>{% if pet.gender=='M' %}Male {% else %} Female {% endif %}  </td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-user">&nbsp;</span>Owner:</td>
                        <td>{{ owner.usrName }}</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-envelope">&nbsp;</span>Contact</td>
                        <td><button id="pet-contact-btn" class="btn btn-success">Contact Me!</button></td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-alert ">&nbsp;</span>Report Profile</td>
                        <td><button id="pet-report-btn" class="btn btn-danger">Report!</button></td>
                    </tr>

                    </tbody>
                </table>
</div></div>
        </div>
    </div>

    </div>
    <div class="row">
    <div id="links">
        <div class="row">
            <div class="col-md-12" id="links1row">
            {% for photo in photos %}
                <a href="{{ photo.original }}" title="Pet Photo">
                    <img  src="{{ photo.original }}" alt="Photo of Pet" class="img-thumbnail customThumbnail">
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bower_components/blueimp-gallery/js/blueimp-gallery.js') }}"></script>
    <script src="{{ asset('bower_components/bootbox.js/bootbox.js') }}"></script>
    <script src="{{ asset('js/PetPage.js') }}"></script>
{% endblock %}
