{% extends ':Main:main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('custom_css/dropzone.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}"/>

{% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-md-6">
                <fieldset><legend>Insert Pet Information</legend>
                   <form action="#" method="post" class="form-horizontal" role="form" id="pet-insert">

                       <!-- Gender -->
                       <div class="col-md-12 form-group">
                            <label for="gender">Gender</label>
                           <select name="gender" id="gender" class="form-control">
                                <option value="M">Male </option>
                                <option value="F">Female </option>
                            </select>
                        </div>

                       <!-- Pet Type -->
                       <div class="col-md-12 form-group" style="margin-top: 10px">
                           <label for="gender">Pet family </label>
                           <select name="petfamily" id="petfamily" class="form-control">
                               <option disabled selected> -- select an option -- </option>
                               <option value="barnyard">Barnyard</option>
                               <option value="bird">Bird</option>
                               <option value="cat">Cat</option>
                               <option value="dog">Dog</option>
                               <option value="horse">Horse</option>
                               <option value="pig">Pig</option>
                               <option value="reptile">Reptile</option>
                               <option value="smallfurry">Smallfurry</option>
                           </select>
                       </div>
                       <!-- Pet breed -->
                       <div class="col-md-12 form-group" style="margin-top: 10px">
                           <label for="petbreed">Pet Breed </label>
                           <select name="petbreed" id="petbreed" class="form-control">
                           </select>
                       </div>

                        <!--DatePick -->
                       <div class="col-md-12 form-group">
                           <label for="petbirth">Birth</label>
                            <input type="text" id="petbirth" class="form-control" name="petbirth">
                       </div>
                   </form>
                </fieldset>
             </div>

           <!-- SEGUNDA PARTE -->
            <div class="col-md-6">
                <br><br><br><br>
                <form action="{{ path('registpetphoto') }}" class="dropzone col-md-12"></form>
            </div>
        </div>
    <div class="row">
        <br>
        <div class="col-md-2 col-xs-push-5 col-md-push-5 btn btn-success" id="subm-btn">Regist</div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script src=" {{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('js/petbreedajax.js') }}"></script>
        <script src="{{ asset('js/petregist.js') }}"></script>
        <script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/dropzone.js') }}"></script>
    {% endblock %}