{% extends "base.html.twig" %}
{% block body %}
<div class="container-fluid" id="formcontent">
    <fieldset>
    <legend class="col-md-3">Registration Form</legend>
    <form id="registform" class="form-horizontal" method="post" action="{{ path('registervalidate') }}">

        <!-- username -->
        <div class="form-group col-md-12">
            <label for="petfinder_name" class="control-label col-md-1">Name:</label>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <input type="text" class="form-control" name="petfinder_name" id="petfinder_name" />
                </div>
            </div>
        </div>

        <!--email -->
        <div class="form-group col-md-12">
            <label for="petfinder_email" class="control-label col-md-1">Email:</label>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <input type="email" class="form-control" name="petfinder_email" id="petfinder_email" />
                </div>
            </div>
        </div>

        <!--password -->
        <div class="form-group col-md-12">
            <label for="petfinder_password" class="control-label col-md-1">Password:</label>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input type="password" class="form-control" name="petfinder_password" id="petfinder_password" />
                </div>
            </div>
        </div>

        <!-- confirm password -->
        <div class="form-group col-md-12">
            <label for="petfinder_password_confirm" class="control-label col-md-1">Confirm Password:</label>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input type="password" class="form-control" name="petfinder_password_confirm" id="petfinder_password_confirm" />
                </div>
            </div>
        </div>


        <!--City -->
        <div class="form-group col-md-12">
            <label for="petfinder_city" class="control-label col-md-1">City:</label>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-home"></span>
                    </div>
                    <input type="text" class="form-control" name="petfinder_city" id="petfinder_city" />
                </div>
            </div>
        </div>

        <!--Phone -->
        <div class="form-group col-md-12">
            <label for="petfinder_phone" class="control-label col-md-1">Phone:</label>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-earphone"></span>
                    </div>
                    <input type="text" class="form-control" name="petfinder_phone" id="petfinder_phone" />
                </div>
            </div>
        </div>

        <!--submit -->
        <div class="form-group col-md-12">
            <div class="col-md-6 col-md-push-1">
                <button type="submit" id="subm-sub" class="btn btn-success col-md-2">Register</button>
            </div>
        </div>
    </form>
</fieldset>
</div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src=" {{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <script src=" {{ asset('js/validateRegist.js') }}"></script>
{% endblock %}
