{% extends 'base.html.twig' %}

{% block body %}
    <div id="conteudo">
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
</div>
{% endblock %}
