{% extends ':Main:main.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('custom_css/dropzone.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bower_components/blueimp-gallery/css/blueimp-gallery.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('custom_css/petedit.css') }}"/>

{% endblock %}


{% block body %}
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>

        <ol class="indicator"></ol>
    </div>
    {{  parent() }}
{% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-md-6">
                <fieldset><legend>Insert Pet Information</legend>
                   <form action="#" method="post" class="form-horizontal" role="form" id="pet-insert">

                       <!-- Gender -->
                       <div class="col-md-12 form-group">
                            <label for="gender">Gender</label>
                           <select name="gender" id="gender" class="form-control">
                                <option value="M" {% if pet.gender == 'M' %} selected {% endif %}>Male </option>
                                <option value="F" {% if pet.gender == 'F' %} selected {% endif %}>Female </option>
                            </select>
                        </div>

                       <!-- Pet Type -->
                       <div class="col-md-12 form-group" style="margin-top: 10px">
                           <label for="gender">Pet family </label>
                           <select name="petfamily" id="petfamily" class="form-control">
                               <option disabled selected> -- select an option -- </option>
                               <option value="barnyard">Barnyard</option>
                               <option value="bird">Bird</option>
                               <option value="cat">Cat</option>
                               <option value="dog">Dog</option>
                               <option value="horse">Horse</option>
                               <option value="pig">Pig</option>
                               <option value="reptile">Reptile</option>
                               <option value="smallfurry">Smallfurry</option>
                           </select>
                       </div>
                       <!-- Pet breed -->
                       <div class="col-md-12 form-group" style="margin-top: 10px">
                           <label for="petbreed">Pet Breed </label>
                           <select name="petbreed" id="petbreed" class="form-control">
                           </select>
                       </div>

                        <!--DatePick -->
                       <div class="col-md-12 form-group">
                           <label for="petbirth">Birth</label>
                            <input value ="{{ pet.birth|date('m/d/Y') }}" type="text" id="petbirth" class="form-control" name="petbirth">
                       </div>
                       <div class="col-md-12 form-group">
                           <label for="petowner">Pet owner:</label>
                           <input type="text" id="petowner" placeholder="Enter new Owner Email" class="form-control" name="petowner">
                           <p class="help-block">Leave blank if you don't want to change ownership</p>

                       </div>
                       <input type="hidden" name="pet_id" value="{{ pet.idPet }}">
                   </form>
                </fieldset>
             </div>

           <!-- SEGUNDA PARTE -->
            <div class="col-md-6">
               <div class="col-md-12">
                    <br><br><br><br>
                    <form action="{{ path('registpetphoto') }}" class="dropzone col-md-12"></form>

               </div>
            </div>

        </div>


        <br>
        <div class="row">
                 {% for photo in photos %}
                  <div class="col-md-2 col-xs-6">
                   <div class="links petImageArea">
                        <a href="{{ photo.original }}" title="Pet Photo">
                            <img  id="photo{{ photo.id }}" src="{{ photo.original }}" alt="Photo of Pet"
                                  class="customThumbnail">
                        </a>
                       <input id="hidden{{ photo.id }}" type="hidden" name="keepers[]" value="0">
                    </div>
                    <button class="idbutton btn btn-default" value="{{ photo.id }}">Remove Photo</button>
                  </div>
            {% endfor %}
        </div>


        <div class="row">
             <div class="col-md-2 col-xs-push-5 col-md-push-5 btn btn-success" id="subm-btn">Change</div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src=" {{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('js/petbreedajax.js') }}"></script>
        <script src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/dropzone.js') }}"></script>
        <script src="{{ asset('bower_components/blueimp-gallery/js/blueimp-gallery.js') }}"></script>
        <script src="{{ asset('bower_components/bootbox.js/bootbox.js') }}"></script>
        <script src="{{ asset('bower_components/foggy/jquery.foggy.min.js') }}"></script>
        <script src="{{ asset('js/petEdit.js') }}"></script>
    {% endblock %}